# Email Configuration
# To enable real email sending, provide your credentials here.
# For Gmail, you'll need an App Password (not your regular password).
# See: https://support.google.com/accounts/answer/185833
EMAIL_USER=shibulkumarpadhan85@gmail.com
EMAIL_PASS=
